<p id="notice"><%= notice %></p>

<h2 style='text-align:center;margin:4vh;'>Posts</h2>

<div id='main'>

    <div id="list-posts">
        <% @posts.each do |t| %>
          <p class='list-post-title'> > <%= link_to t.title, post_path(t) %> </p>
        <% end %>
    </div>

    <div id="posts-container">
      <% @posts.each do |post| %>
        <div id="post">
          <figure>
                <p><strong>Title : </strong><%= post.title %></p><br>
                <p><strong>Description : </strong><%= post.description %></p><br>
                <figcaption> <%= image_tag(post.image) %> </figcaption>
          </figure>
        </div>
      <% end %>
    </div>

</div>
