<p id="notice"><%= notice %></p>

<div id='main'>

    <div id="list-posts">
        <% @posts.each do |t| %>
        <p class='list-post-title'>
            > <%= link_to t.title, post_path(t) %>
        </p>
        <% end %>
    </div>

    <div id="posts-container">
        <div id="column">
            <% @posts.each do |post| %>
            <div id="post">
                <figure>
                    <figcaption>
                        <%= image_tag(post.image) %>
                        <%= video_tag(post.video) %>
                    </figcaption>
                    <p id="titre"><%= post.title %></p><br>
                    <p id="article"><%= post.description %></p><br>
                </figure>
            </div>
            <% end %>
        </div>
    </div>

</div>
