<p id="notice"><%= notice %></p>

<div id='main'>

    <div id="list-posts">
        <% @posts.each do |t| %>
        <p class='list-post-title'>
            > <%= link_to t.title, post_path(t) %>
        </p>
        <% end %>
    </div>

    <div id="posts-container">
        <div id="column">
            <% @posts.each do |post| %>
            <div id="post">
                <figure>
                    <figcaption>
                        <% if !post.image.blank? %>
                          <%= image_tag(post.image) %>
                        <% elsif !post.video.blank? %>
                        <iframe width="560" height="315" src="<%= post.video %>" frameborder="0" allowfullscreen>
                          <p>La vidéo ne se charge pas, veuillez actualisez la page !</p>
                        </iframe>
                        <% else %>
                          <p></p>
                        <% end %>

                    </figcaption>
                    <p id="titre"><%= post.title %></p><br>
                    <p id="article"><%= post.description %></p><br>
                </figure>
            </div>
            <% end %>
        </div>
    </div>

</div>
