<div id='post-show'>
    <p id="img-show" style='margin:0;'>
        <% if !@post.image.blank? %>
        <%= image_tag(@post.image) %>
        <% elsif !@post.video.blank? %>
        <iframe src="<%= @post.video.gsub(/vimeo\.com\//, 'player.vimeo.com/video/') + '?color=ffffff' %>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <%else%>
        <p></p>
        <% end %>

        <% if !@post.title.blank? %>
        <p id="titreshow">
            <strong><%= @post.title %></strong>
        </p>
        <%else%>
        <p></p>
        <%end%>

        <% if !@post.description.blank? %>
        <div id="descriptionshow">
            <% if user_signed_in? %>
              <%= form_for(@post) do |post| %>
                <%= post.text_field :title, type:"hidden" %>
                <%= post.text_area :description, class:"input-form" %>
                <%= post.submit id:'submit'%>
              <% end %>
            <% else %>
              <em><%= @post.description %></em>
            <% end %>
        </div>
        <% else %>
        <p></p>
        <% end %>
    </p>

</div>

<p style='text-align:center;'><%= link_to image_tag("back.png", style:"height: 30px;"), root_path, id:"back" %>
