<p id="notice"><%= notice %></p>

<p style='text-align:center;'><%= link_to 'Retour', posts_path %>

<div id='post-show'>
      <p id="img-show">
        <% if !@post.image.blank? %>
          <%= image_tag(@post.image) %>
        <% elsif !@post.video.blank? %>
        <iframe width="560" height="315" src="<%= @post.video.gsub(/watch\?v=/, "embed/") %>" frameborder="0" allowfullscreen>
          <p>La vidéo ne se charge pas, veuillez actualisez la page !</p>
        </iframe>
        <% else %>
          <p></p>
        <% end %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @post.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @post.description %>
      </p>
  </div>
