<!DOCTYPE html>
<html>
    <head>
        <title>
            Portfolio
        </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    </head>

    <body>
        <div id="nav">
            <h1 class='item'><%= link_to 'Ipak', root_path, id:"itemtitle" %>
            </h1>
            <% if current_user %>
            <%= link_to "Admin", rails_admin_path, class: 'item' %>
            <%= link_to "Profil", edit_user_registration_path, class: "item" %>
            <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete, class: 'item'%>
        <% else %>
            <%= link_to 'Connexion', new_user_session_path, class: 'item link'%>
            <% end %>
            <div id="contact">
                <a href=""><%= image_tag("facebook.png", style:"height: 20px;") %></a>
                <a href=""><%= image_tag("insta.png", style:"height: 20px;") %></a>
                <a href=""><%= image_tag("twitter.png", style:"height: 20px;") %></a>
                <a href=""><%= image_tag("youtube.png", style:"height: 22px;") %></a>
            </div>

        </div>

        <%= yield %>

    </body>
</html>
